.global{
    background: url('../assets/img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: local;
    height: 670px;
    padding: 0;
    margin: 0;
}


@media(max-width:460px ){
    .global{
        position: relative;
        background-size: contain;
    }
    .btn{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}


.img{
    background-image: url('../assets/img/bg.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.bgR{
    background-image: url('../assets/img/R.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgC{
    background-image: url('../assets/img/phService.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgL{
    background-image: url('../assets/img/labtop.jpg');
    background-position:calc(-180px);
    background-size: cover;
    background-repeat: no-repeat;
}